@import url('https://fonts.googleapis.com/css2?family=Itim&family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
i{
    color: black;
    width: 20%;
}
body{
    font-family: 'Itim', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    }
section{
    display: flex;
    flex-direction: row;
}
b{
    color: gray;
    font-weight: 800;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
li{
    list-style: none;
    display: inline-block;
}
ul{
    margin-left: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#title{
    margin: 5% 10%;
    text-transform: uppercase;
}
span{
    color: rgb(194, 197, 22);
    font-size: 29px;
}
nav h1{
    margin-left: 45%;
    text-transform: uppercase;
}
section img{
    width: 20%;
    margin-left: 20%;
}
div{
    padding: 3% 6%;
    height: 30vh;
    width: 35%;
    margin-left: 10%;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
input[type= "submit"]{
    background-color: transparent;
    border: none;
    cursor: pointer;
}